*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.first-screen{
    background-image: url(./pics/first-screen.png);
    height: 800px;
}

.logo{
    width: 140px;
    height: 58px;
    margin-top: 11px;
}

.header-container{
    max-width: 1110px;
    margin: auto;
}

.first-screen-container{
    max-width: 1110px;
    margin: 0 auto;
}

.header{
    display: flex;
    height: 80px;
    background-color: rgba(0, 91, 193, .6);
}


.nav{
    align-self: center;
}

.nav-link{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #ffff;
    margin-left: 28px;
}

.square{
    width: 444px;
    height: 720px;
    background-color: rgb(0, 91, 193);
    opacity: 60%;
    position: absolute;
    left: 405px;
    top: 80px;
}

.title{
    margin-top: 202px;
    margin-left: 190px;
}

.title-main-text{
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    color: #ffff;
    letter-spacing: 1%;
}

.subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffff;
    margin-top: 40px;
}

.link-button{
    margin-top: 40px;
    border: 3px solid #ffff;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 41px;
    padding-right: 40px;
    background: none;
}

.button-txt{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 5%;
    color: #ffff;
    text-decoration: none;
}

/*slider*/
.slider-container{
    max-width: 1110px;
    margin: auto;
}

.slider-top{
    margin-top: 150px;
    display: flex;
}

.slider-title{
    display: flex;
    align-items: center;
}

.lines{
}

.line1{
    border-top: 3px solid #005BC1;
    width: 100px;
    margin-bottom: 13px;
}

.line{
    border-top: 3px solid #005BC1;
    width: 50px;
    margin-left: 50px;
}

.slider-h1{
    margin-left: 40px;
    font-family: 'Oswald', sans-serif;
    color: #343434;
    font-size: 30px;
    letter-spacing: 5%;
}

.buttons{
    margin-left: 670px;
    display: flex;
}

.btn-left{
    border: 2px solid #005bc1;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-left: 22px;
    padding-right: 21.29px;
    cursor: pointer;
    position: relative;
    border-right: none;
}

.btn-top,
.btn-bottom{
    background-color: #005BC1;
    height: 2px;
    width: 12.59px;
}

.btn-top{
    transform: rotate(-45deg);
    margin-bottom: 7px;
}

.btn-bottom{
    transform: rotate(45deg);
}

.btn-right{
    border: 2px solid #005bc1;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-left: 22px;
    padding-right: 21.29px;
    cursor: pointer;
    position: relative;
}

.btn-top1,
.btn-bottom1{
    background-color: #005BC1;
    height: 2px;
    width: 12.59px;
}

.btn-top1{
    transform: rotate(45deg);
    margin-bottom: 7px;
}

.btn-bottom1{
    transform: rotate(-45deg);
}

.slider-images{
    margin-top: 70px;
    display: flex;
}
.slider-image1{
    margin-right: 30px;
    width: 530px;
    height: 390px;
}

.slider-image{
    width: 530px;
    height: 390px;
}
